.cont {
  .top {
    color: #FF9302;
    .logo {
    	display: inline-block;
    	width: 100px;
    	height: 200px;
    	background-image: url('../img/ico-header-logo.jpg');
    }
  }
  .bottom {
    color: #F00000;
  }
}